@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
.App {
  font-family: sans-serif;
  text-align: center;
}
img {
  vertical-align: middle;
  border-style: none;
  width: 120px;
}

div#home\Container\1 {
  padding: 20px;
  background-color: whitesmoke;
}
h1#homeTitle {
  font-weight: bold;
}
h5.paragraphHeader {
  text-align: left;
  padding: 10px;
}

body {
  background-color: whitesmoke;
}
div#home\Container\2 {
  background-color: white;
}
div#home\Container\3 {
  background-color: white;
}
div#home\Container\4 {
  background-color: white;
}
.login {
  padding: 30px;
}
#logoAxis {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 70%;
  padding-bottom: 100px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1rem 0;
}
.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

@media (min-width: 1025px) {
  img.card-img-top {
    height: 261px;
  }
  img#logoAxis {
    width: auto;
  }
}
